# COVID-19 DATA ANALYSIS -1

### Import pandas

In [1]:
import pandas as pd

## Load the dataset

In [2]:
url = 'https://raw.githubusercontent.com/capabletg/naukrisaksham-data-science/main/Covid%20Analysis%20-%20Phase%201.csv'
data = pd.read_csv(url)

In [3]:
data

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

### To Display the column names

In [4]:

print(data.columns)

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

## Task 1: To Find the Number of Unique Countries

In [5]:

def task1_unique_countries(data):
    unique_countries = data['Country/Region'].nunique()
    print(f'There are {unique_countries} unique countries in the dataset')

## Task 2: To Check the Null values in the Dataset

In [6]:

def task2_check_null_values(data):
    null_values = data.isnull().sum()
    print(f'The Confirmed column has {null_values["Confirmed"]} missing values')

## Task 3: Which Country has the maximum number of confirmed cases

In [7]:

def task3_max_confirmed_country(data):
    max_confirmed_country = data.loc[data['Confirmed'].idxmax()]['Country/Region']
    max_confirmed_cases = data['Confirmed'].max()
    print(f'{max_confirmed_country} has the highest number of confirmed cases with {max_confirmed_cases} cases')

## Task 4: Which Country has the maximum number of deaths

In [8]:

def task4_max_deaths_country(data):
    max_deaths_country = data.loc[data['Deaths'].idxmax()]['Country/Region']
    max_deaths = data['Deaths'].max()
    print(f'{max_deaths_country} has the highest number of deaths with {max_deaths} deaths')

## Task 5: What is the average number of cases across all countries

In [9]:

def task5_average_confirmed_cases(data):
    average_confirmed_cases = data['Confirmed'].mean()
    print(f'The average number of confirmed cases across all countries is {average_confirmed_cases:.3f}')

## Task 6: What is the total number of deaths as per the dataset

In [10]:

def task6_total_deaths(data):
    total_deaths = data['Deaths'].sum()
    print(f'The dataset records a total of {total_deaths} deaths')

## Task 7: What is the total number of confirmed cases

In [11]:

def task7_total_confirmed_cases(data):
    total_confirmed_cases = data['Confirmed'].sum()
    print(f'The dataset records a total of {total_confirmed_cases} confirmed cases')

## Task 8: Which country has the highest death percentage

In [13]:

def task8_highest_death_percentage(data):
    data['Death Percentage'] = (data['Deaths'] / data['Confirmed']) * 100
    highest_death_percentage_country = data.loc[data['Death Percentage'].idxmax()]['Country/Region']
    print(f'{highest_death_percentage_country} has the highest death percentage')

## Task 9: Which country has the highest recovery percentage

In [14]:

def task9_highest_recovery_percentage(data):
    data['Recovery Percentage'] = (data['Recovered'] / data['Confirmed']) * 100
    highest_recovery_percentage_country = data.loc[data['Recovery Percentage'].idxmax()]['Country/Region']
    print(f'{highest_recovery_percentage_country} has the highest recovery percentage')

## Task 10: To Create a New Column New Cases to Active Cases Ratio

In [15]:
def task10_new_cases_to_active_ratio(data):
    if 'New cases' in data.columns and 'Active' in data.columns:
        # Calculate the ratio of new cases to active cases
        data['New Cases to Active Ratio'] = data['New cases'] / data['Active']
        print("New column 'New Cases to Active Ratio' created successfully.")
        print(data[['Country/Region', 'New cases', 'Active', 'New Cases to Active Ratio']])
    else:
        print("Columns 'New cases' or 'Active' not found in the dataset.")

## Task 11: To Create a New DataFrame for the Africa WHO Region

In [18]:

def task11_africa_who_region(data):
    africa_data = data[data['WHO Region'] == 'Africa']
    print("New DataFrame for Africa WHO Region created successfully.")
    return africa_data

## Calling the tasks

In [19]:

task1_unique_countries(data)

There are 187 unique countries in the dataset

In [20]:

task2_check_null_values(data)

The Confirmed column has 0 missing values

In [21]:

task3_max_confirmed_country(data)

US has the highest number of confirmed cases with 4290259 cases

In [22]:

task4_max_deaths_country(data)

US has the highest number of deaths with 148011 deaths

In [23]:

task5_average_confirmed_cases(data)

The average number of confirmed cases across all countries is 88130.936

In [24]:

task6_total_deaths(data)

The dataset records a total of 654036 deaths

In [25]:

task7_total_confirmed_cases(data)

The dataset records a total of 16480485 confirmed cases

In [26]:

task8_highest_death_percentage(data)

Yemen has the highest death percentage

In [27]:

task9_highest_recovery_percentage(data)

Dominica has the highest recovery percentage

In [28]:

task10_new_cases_to_active_ratio(data)

New column 'New Cases to Active Ratio' created successfully.
         Country/Region  New cases  Active  New Cases to Active Ratio
0           Afghanistan        106    9796                   0.010821
1               Albania        117    1991                   0.058764
2               Algeria        616    7973                   0.077261
3               Andorra         10      52                   0.192308
4                Angola         18     667                   0.026987
..                  ...        ...     ...                        ...
182  West Bank and Gaza        152    6791                   0.022383
183      Western Sahara          0       1                   0.000000
184               Yemen         10     375                   0.026667
185              Zambia         71    1597                   0.044458
186            Zimbabwe        192    2126                   0.090310

[187 rows x 4 columns]

### Data After creating New Cases to Active Ratio column

In [29]:
data

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Death Percentage,Recovery Percentage,New Cases to Active Ratio
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,3.499435,69.486805,0.010821
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe,2.950820,56.250000,0.058764
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa,4.157581,67.339935,0.077261
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe,5.733186,88.533627,0.192308
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa,4.315789,25.473684,0.026987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean,0.734394,35.326240,0.022383
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa,10.000000,80.000000,0.000000
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,28.562980,49.260792,0.026667
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa,3.075571,61.840949,0.044458
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa,1.331361,20.044379,0.090310

#### Displaying the first few rows of the new DataFrame

In [27]:
africa_data = task11_africa_who_region(data)
print(africa_data.head())

New DataFrame for Africa WHO Region created successfully.
   Country/Region  Confirmed  Deaths  Recovered  Active  New cases  \
2         Algeria      27973    1163      18837    7973        616
4          Angola        950      41        242     667         18
18          Benin       1770      35       1036     699          0
22       Botswana        739       2         63     674         53
26   Burkina Faso       1100      53        926     121         14

    New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
2            8            749                4.16                  67.34
4            1              0                4.32                  25.47
18           0              0                1.98                  58.53
22           1             11                0.27                   8.53
26           0              6                4.82                  84.18

    Deaths / 100 Recovered  Confirmed last week  1 week change  \
2                     6.17                23691           4282
4                    16.94                  749            201
18                    3.38                 1602            168
22                    3.17                  522            217
26                    5.72                 1065             35

    1 week % increase WHO Region  Death Percentage  Recovery Percentage
2               18.07     Africa          4.157581            67.339935
4               26.84     Africa          4.315789            25.473684
18              10.49     Africa          1.977401            58.531073
22              41.57     Africa          0.270636             8.525034
26               3.29     Africa          4.818182            84.181818